/* Standard system cursor configuration */
body,
body * {
  cursor: auto;
}

a,
button,
input[type="submit"],
input[type="button"],
select,
[role="button"] {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  cursor: text;
}
